.config {
  padding: 20px;

  .signal-item {
    display: flex;
    align-items: center;
    padding: 12px;
    height: auto;
    margin-bottom: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    &:last-child {
      border-bottom: none;
    }

    .signal-name {
      color: #333;
    }

    .signal-type {
      padding: 4px 8px;
      background: rgba(0, 0, 255, 0.1);
      border-radius: 16px;
      margin: 0 8px;
    }
  }

  .add-button {
    border: 1px dashed rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
  }
}
